certifi==2020.6.20
cffi==1.15.0
cfscrape==2.1.1
chardet==4.0.0
charset-normalizer==2.0.12
click==8.0.4
cloudscraper==1.2.58
cryptography==36.0.1
distro==1.5.0
dnspython==2.2.0
Flask==2.0.3
future==0.18.2
httplib2==0.18.1
icmplib==3.0.3
idna==2.10
impacket==0.9.24
itsdangerous==2.1.0
Jinja2==3.0.3
ldap3==2.9.1
ldapdomaindump==0.9.3
MarkupSafe==2.1.0
maxminddb==2.2.0
multidict==6.0.2
psutil==5.9.0
pyasn1==0.4.8
pycparser==2.21
pycryptodomex==3.14.1
pycurl==7.43.0.6
pyOpenSSL==22.0.0
pyparsing==3.0.7
PyRoxy @ git+https://github.com/MHProDev/PyRoxy.git@32348cbda6fce1fd5680df462f1ceba8230b85ec
PySimpleSOAP==1.16.2
PySocks==1.7.1
python-apt==2.2.1
python-debian==0.1.39
python-debianbts==3.1.0
reportbug==7.10.3+deb11u1
requests==2.27.1
requests-toolbelt==0.9.1
six==1.16.0
urllib3==1.26.5
Werkzeug==2.0.3
yarl==1.7.2
